<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WTSDataLogger.GUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <WTSDataLogger.GUI.Properties.Settings>
            <setting name="CsvFileName" serializeAs="String">
                <value />
            </setting>
            <setting name="PortName" serializeAs="String">
                <value>COM1</value>
            </setting>
            <setting name="BaudRate" serializeAs="String">
                <value>9600</value>
            </setting>
            <setting name="DataBits" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="ReadTimeout" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="WriteTimeout" serializeAs="String">
                <value>-1</value>
            </setting>
        </WTSDataLogger.GUI.Properties.Settings>
    </userSettings>
</configuration>